html
	// i18n
	+_('Blog', '博客', 'zh_cn')
	+_('Albums', '相册', 'zh_cn')
	+_('Categories', '分类', 'zh_cn')
	+_('Archive', '归档', 'zh_cn')
	+_('Links', '友情链接', 'zh_cn')
	+_('About', '关于', 'zh_cn')
	+_('Recent', '最新文章', 'zh_cn')
	+_('Search', '站内搜索', 'zh_cn')
	head
		+mobile_meta()
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)
		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		+get_resource("blog_basic.css")
		+load('/template/jquery-3.1.0.js')
		+load('pure#0.5.0')
		+load('/service/static_3rd/staticfile/ajax/libs/pure/0.5.0/grids-responsive-min.css')
		+load('/template/style.scss')
		+load('/template/redesign.css')
	body:.body_container
		#header
			.site-name
				h1.hidden= site.title
				a#logo(href='/')= site.title
				p.description= site.raw_content
			#nav-menu
				+a_with_selected('/', _('Blog'), dom_id='nav_blog')
				if has('categories')
					+a_with_selected('/categories', _('Categories'))
				+a_with_selected('/archive', _('Archive'))
				for p in get_data(status='pages', type='post', limit=5, with_page=False, sort='position')
					+a_with_selected('/'+p.path, _(p.filename.split('.')[0].title()))
				if has('images')
					a(href='/album')= _('Albums')
					if not has('posts')
						+redirect('/album')

		#layout.pure-g

			.pure-u-7-24:#sidebar
				.widget
					.widget-title.widget-search= _('Search')
					form#search
						input#search_value.text(placeholder="Search this website",type="text",value=request.args.s, onkeyup="if (event.keyCode == 13) search();")
				.widget
					.widget-title= _('Recent')
					newess_posts = get_data(path='/', type='post', limit=10, sort='desc', with_page=False)
					ul
						for post in newess_posts
							li
								a(href=post.url, title=post.title)= post.title
				.widget
					.widget-title= _('Categories')
					categories = get_data(type='folder', level=[0,1], min_posts_count=1)
					ul
						for cate in categories
							li
								a(href="/category/{{ cate.path }}")= cate.title + '(' + cate.posts_count + ')'
								subcategories = get_data(type='folder', path="/" + cate.path + "/",level=[0,1], min_posts_count=1)
								if subcategories
									ul.subcate
										for subcate in subcategories
											li
												a(href="/category/{{ subcate.path }}")= subcate.title + '(' + subcate.posts_count + ')'
				.widget
					.widget-title= _('Archive')
					atvhive_posts = get_data(type='post', limit=400, sort='desc').group('-date:year+month')
					ul
						for post_date,post in atvhive_posts
								pd = ''
								each t in post_date
									test = t + ''
									if test.length == 4
										pd = t + '年'
										ad = t + ''
									elif test.length == 1
										pd = pd + '0' + t + '月'
										ad = ad + '0' + t
									elif test.length == 2
										pd = pd +  t + '月'
										ad = ad + t
									if pd.length > 5
										li
											a(href='/archive?tag=' +ad ,title=ad)= pd + '(' + post.length + ')'
				.widget
					.widget-title= _('Links')
						ul
							li
								a(href='http://www.52coder.net',target='_blank')= '52coder的博客'
							li
								a(href='http://www.askmaclean.com/',target='_blank')= '我敬佩的askmaclean'
								

			.pure-u-1.pure-u-md-17-24:.content_container
				block content

		#footer= '© '
			a(href='/', real="nofollow")= site.title
			. Powered by
			a(rel="nofollow", target="_blank", href="https://www.farbox.com") FarBox
			. Theme by
			a(rel="nofollow", target="_blank", href="http://chopstack.com") cho
			. Redesign by
			a(rel="nofollow", target="_blank", href="http://liupzmin.com") 兔子先生

		+load('/template/duoshuo.css')

		script
			function search() {
				if (document.getElementById('search_value').value) {
				  location.href = 'http://' + location.host + '?s=' + document.getElementById('search_value').value;
				}
				return false;
			 };